.pagination-container input[type="number"] {
  -moz-appearance: textfield;
}

.pagination-container input[type="number"]::-webkit-inner-spin-button,
.pagination-container input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pagination-container {
  font-size: 19px;
  user-select: none;
  font-weight: 600;
  color: #5A3924;
}

.pagination-container .pages {
  display: flex;
  margin: 0;
}

.pagination-container .pages li {
  list-style: none;
  cursor: pointer;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background: linear-gradient(180deg, #DCD5C3 0%, #E8E5D0 100%);
  box-shadow: inset 0px 3px 3px 0px rgba(255, 255, 255, 0.25), inset 0px -3px 5px 0px #CECAC4;
}

.pagination-container .pages .page-value-button {
  transition: background 0.3s linear, box-shadow 0.3s linear;
}

.pagination-container .pages .page-value-button:hover {
  background: linear-gradient(180deg, rgba(255, 184, 1, 0.6) 0%, rgba(255, 184, 1, 0.6) 100%);
  box-shadow: inset 0px 3px 3px 0px rgba(255, 255, 255, 0.25), inset 0px -3px 5px 0px rgba(255, 169, 2, 0.6);
}

.pagination-container .pages .page-button.page-value-button.active-button {
  background: linear-gradient(180deg, #FFB801 0%, #FFDB01 100%);
  box-shadow: inset 0px 3px 3px 0px rgba(255, 255, 255, 0.25), inset 0px -3px 5px 0px #FFA902;
}

.pagination-container .pages .page-button + .page-button {
  margin-left: 11px;
}

.pagination-container .pages .prev-next-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1.7);
  top: 50%;
  font-weight: 400;
}

.pagination-container .pages .page-prev {
  position: relative;
}

.pagination-container .pages .page-prev:after {
  content: "<";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1.7);
  top: 50%;
  font-weight: 400;
}

.pagination-container .pages .page-next {
  position: relative;
}

.pagination-container .pages .page-next:after {
  content: ">";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1.7);
  top: 50%;
  font-weight: 400;
}

.pagination-container .pages .page-button.page-button-disabled:after {
  opacity: 0.5;
}

.pagination-container .jumper input {
  width: 85px;
  height: 59px;
  background: #FFFFFF;
  border-radius: 100px;
  border: 3px solid #5A3924;
  margin: 0 5px;
  font-size: 19px;
  user-select: none;
  font-weight: 600;
  padding: 5px 20px;
}

.pagination-container .page-block-item + .page-block-item {
  margin-left: 11px;
}
