.blog-detail-container{

}
.blog-detail-title{
}
.blog-title-inner{
    max-width: 1200px;
    flex:1;
}
.blog-detail-title h1{
    align-self: center;
    line-height: 1.2em;
}
.blog-detail-preview-and-bottom-container{
    flex:1;
}