
.comment-user-head-img{
    width: 100%;
    height: 100%;
}


.comment-list-item-container .info-apply-container{
    display: none;
}
.comment-list-item-container:hover .info-apply-container{
    display: flex;
}