.head-right-container{
    position: relative;
}
.user-drap-down-container{
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: absolute;
    top: 60px;
    transition: transform 0.3s ease;
}
.user-info-container-center .user-drap-down-container{
    left: 50%;
    transform: translateX(-50%) scale(0);
    transform-origin: 50% 0;
}
.user-info-container-center:hover .user-drap-down-container{
    transform: translateX(-50%) scale(1);
}
.user-info-container-right .user-drap-down-container{
    right:30px;
    transform: scale(0);
    transform-origin: 100% 0;
}
.user-info-container-right:hover .user-drap-down-container{
    transform: scale(1);
}
.user-drap-down-container .user-info-list .user-info-item{
    padding: 10px 0;

}
.user-drap-down-container  .icon-trangle{
    position: absolute;

}
.user-info-container-center .user-drap-down-container  .icon-trangle{
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
}
.user-info-container-right .user-drap-down-container  .icon-trangle{
    right: -5px;
    top: -15px;
}