.blog-head-out-container{
    width: 100%;
    box-shadow: 0 0px 0px 0px rgba(0,0,0,0.1),0 0px 0px 0px rgba(0,0,0,0.1),0 2px 0px 0px rgba(0,0,0,0.1),0 0px 0px 0px rgba(0,0,0,0.1);
}
.blog-head-container{
    padding: 0px 100px 0px 100px;
    width: 100%;
    margin: 0 auto;
    height: 70px;
}
.blog-head-container .blog-head-input{

}
.blog-head-container .create-container{
    background-color: #fc5531;
}
.blog-head-container .blog-head-input{
    transition: border-color 0.3s linear;
}
.blog-head-container .blog-head-input:hover{
    border-color: #fc5531;
    outline: none;
}
.blog-head-container .blog-head-input:focus{
    border-color: #fc5531;
    outline: none;
}
.search-icon{
    top: 50%;
    transform: translateY(-50%);
}