.blog-detail-bottom-container{

}

.blog-detail-bottom-inner-container{
    max-width: 1200px;
    flex: 1;
}
.blog-detail-bottom-inner-container .blog-detail-item+.blog-detail-item{
    margin-left: 20px;
}
