:root {
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{

}
html,body,div,p,span,ul,li,strong,span{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}