.page-container{
    /*max-width: 1200px;*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
}

.blog-count-container{
    height: 60px;
    max-width: 1200px;
}
.blog-content-out-container{
    max-width: 1200px;
}
.blog-content-container{
    height: calc(100vh - 100px - 60px - 60px);
}
.blog-list-title-container{
    /*max-width: 1200px;*/
    height: 60px;
}
.blog-status-item-text{
    transition: color 0.3s linear;
}