.select-list-container {
    position: absolute;
    left: 0px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: #333333;
    background-color: #f6f6f6;
}

.select-list-container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.select-list-container.scrollbar::-webkit-scrollbar-button {
    display: none;
}

.select-list-container::-webkit-scrollbar-thumb {
    border-radius: 0px;
}

.select-list-container .select-item {
    margin-bottom: 5px;
    height: 40px;
    line-height: 40px;
    position: relative;
    overflow: hidden;
    padding: 0 10px;
}

.select-list-container .select-item .label {
    position: relative;
    z-index: 10;
}
.select-list-container .select-item:hover .label {
    color: #fc5531;
    opacity: 0.7;
}


.select-list-container.select-list-container-up {
    bottom: 50px;
}

.select-list-container.select-list-container-down {
    top: 70px;
}
