.my-select-container {
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    background-color: #f6f6f6;
}

.my-select-container .select-current-label-container {
    position: relative;
    width: 100%;
    flex: 1;
    padding: 0 20px;
}

.my-select-container .select-current-label-container .select-current-label {
    
}

.my-select-container .select-current-label-container:after {
    content: "<";
    transform: scaleX(1.7) rotate(-90deg);
    font-weight: 400;
    margin-left: 10px;
    transition: transform 0.1s linear;
}

.my-select-container .select-current-label-container.select-current-label-container-list-show:after {
    transform: scaleX(1.7) rotate(90deg);
}
