.my-select-container {
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    font-size: 19px;
    
}

.my-select-container .select-current-label-container {
    position: relative;
    width: 100%;
    flex: 1;
    padding: 0 20px;
}

.my-select-container .select-current-label-container .select-current-label {
    
}

.my-select-container .select-current-label-container:after {
    content: "<";
    transform: scaleX(1.7) rotate(-90deg);
    font-weight: 400;
    margin-left: 10px;
    transition: transform 0.1s linear;
}

.my-select-container .select-current-label-container.select-current-label-container-list-show:after {
    transform: scaleX(1.7) rotate(90deg);
}

.my-select-container-yellow {
    background: linear-gradient(180deg, #FFB801 0%, #FFDB01 100%);
    box-shadow: inset 0px 3px 3px 0px rgba(255, 255, 255, 0.25), inset 0px -3px 5px 0px #FFA902;
}

.my-select-container-light-green {
    background: linear-gradient(135deg, #EEFFCC 0%, #FFFFFF 25%, #FFFFFF 75%, #EEFFCC 100%);
}

.my-select-container-light-green-border {
    border: 1px solid rgba(202, 247, 111, 0.5);
    box-shadow: inset 0px 2px 0px 0px #5A3924, inset 0px -2px 0px 0px #5A3924, inset 2px 0px 0px 0px #5A3924, inset -2px 0px 0px 0px #5A3924;
}
